mushclient.rnc

start = muclient

muclient = element muclient {
    include_*,
    (plugin? & world? & triggers? & aliases? & timers? & macros? & variables? & colours? & keypad? & printing?)
}

world = element world {
    attribute world_file_version { xsd:long }?,
    attribute muclient_version { xsd:token }?,
    attribute date_saved { xsd:normalizedString }?,
    attribute accept_chat_connections { xsd:boolean }?,
    attribute alternative_inverse { xsd:boolean }?,
    attribute alt_arrow_recalls_partial { xsd:boolean }?,
    attribute always_record_command_history { xsd:boolean }?,
    attribute arrows_change_history { xsd:boolean }?,
    attribute arrow_keys_wrap { xsd:boolean }?,
    attribute arrow_recalls_partial { xsd:boolean }?,
    attribute autosay_exclude_macros { xsd:boolean }?,
    attribute autosay_exclude_non_alpha { xsd:boolean }?,
    attribute auto_allow_files { xsd:boolean }?,
    attribute auto_allow_snooping { xsd:boolean }?,
    attribute auto_copy_to_clipboard_in_html { xsd:boolean }?,
    attribute auto_pause { xsd:boolean }?,
    attribute keep_pause_at_bottom { xsd:boolean }?,
    attribute auto_repeat { xsd:boolean }?,
    attribute auto_resize_command_window { xsd:boolean }?,
    attribute auto_resize_minimum_lines { xsd:unsignedInt }?,
    attribute auto_resize_maximum_lines { xsd:unsignedInt }?,
    attribute auto_wrap_window_width { xsd:boolean }?,
    attribute carriage_return_clears_line { xsd:boolean }?,
    attribute chat_foreground_colour { xsd:normalizedString }?,
    attribute chat_background_colour { xsd:normalizedString }?,
    attribute chat_max_lines_per_message { xsd:unsignedLong }?,
    attribute chat_max_bytes_per_message { xsd:unsignedLong }?,
    attribute chat_port { xsd:unsignedShort }?,
    attribute chat_sumchecks_to_sender { xsd:boolean }?,
    attribute confirm_before_replacing_typing { xsd:boolean }?,
    attribute confirm_on_paste { xsd:boolean }?,
    attribute confirm_on_send { xsd:boolean }?,
    attribute connect_method { xsd:unsignedByte }?,
    attribute copy_selection_to_clipboard { xsd:boolean }?,
    attribute convert_ga_to_newline { xsd:boolean }?,
    attribute ctrl_n_goes_to_next_command { xsd:boolean }?,
    attribute ctrl_p_goes_to_previous_command { xsd:boolean }?,
    attribute ctrl_z_goes_to_end_of_buffer { xsd:boolean }?,
    attribute ctrl_backspace_deletes_last_word { xsd:boolean }?,
    attribute custom_16_is_default_colour { xsd:boolean }?,
    attribute default_trigger_send_to { xsd:unsignedByte }?,
    attribute default_trigger_sequence { xsd:unsignedLong }?,
    attribute default_trigger_regexp { xsd:boolean }?,
    attribute default_trigger_expand_variables { xsd:boolean }?,
    attribute default_trigger_keep_evaluating { xsd:boolean }?,
    attribute default_trigger_ignore_case { xsd:boolean }?,
    attribute default_alias_send_to { xsd:unsignedByte }?,
    attribute default_alias_sequence { xsd:unsignedLong }?,
    attribute default_alias_regexp { xsd:boolean }?,
    attribute default_alias_expand_variables { xsd:boolean }?,
    attribute default_alias_keep_evaluating { xsd:boolean }?,
    attribute default_alias_ignore_case { xsd:boolean }?,
    attribute default_timer_send_to { xsd:unsignedByte }?,
    attribute detect_pueblo { xsd:boolean }?,
    attribute do_not_add_macros_to_command_history { xsd:boolean }?,
    attribute do_not_show_outstanding_lines { xsd:boolean }?,
    attribute do_not_translate_iac_to_iac_iac { xsd:boolean }?,
    attribute disable_compression { xsd:boolean }?,
    attribute display_my_input { xsd:boolean }?,
    attribute double_click_inserts { xsd:boolean }?,
    attribute double_click_sends { xsd:boolean }?,
    attribute echo_colour { xsd:unsignedByte }?,
    attribute echo_hyperlink_in_output_window { xsd:boolean }?,
    attribute edit_script_with_notepad { xsd:boolean }?,
    attribute enable_aliases { xsd:boolean }?,
    attribute enable_auto_say { xsd:boolean }?,
    attribute enable_beeps { xsd:boolean }?,
    attribute enable_command_stack { xsd:boolean }?,
    attribute enable_scripts { xsd:boolean }?,
    attribute enable_spam_prevention { xsd:boolean }?,
    attribute enable_speed_walk { xsd:boolean }?,
    attribute enable_timers { xsd:boolean }?,
    attribute enable_triggers { xsd:boolean }?,
    attribute enable_trigger_sounds { xsd:boolean }?,
    attribute escape_deletes_input { xsd:boolean }?,
    attribute fade_output_buffer_after_seconds { xsd:unsignedByte }?,
    attribute fade_output_opacity_percent { xsd:unsignedByte }?,
    attribute fade_output_seconds { xsd:unsignedByte }?,
    attribute flash_taskbar_icon { xsd:boolean }?,
    attribute history_lines { xsd:unsignedLong }?,
    attribute hyperlink_adds_to_command_history { xsd:boolean }?,
    attribute hyperlink_colour { xsd:token }?,
    attribute ignore_chat_colours { xsd:boolean }?,
    attribute ignore_mxp_colour_changes { xsd:boolean }?,
    attribute indent_paras { xsd:boolean }?,
    attribute input_background_colour { xsd:token }?,
    attribute input_font_height { xsd:unsignedByte }?,
    attribute input_font_italic { xsd:boolean }?,
    attribute input_font_weight { xsd:unsignedLong }?,
    attribute input_font_charset { xsd:unsignedShort }?,
    attribute input_text_colour { xsd:token }?,
    attribute keep_commands_on_same_line { xsd:boolean }?,
    attribute keypad_enable { xsd:boolean }?,
    attribute line_information { xsd:boolean }?,
    attribute line_spacing { xsd:unsignedByte }?,
    attribute log_html { xsd:boolean }?,
    attribute log_input { xsd:boolean }?,
    attribute log_in_colour { xsd:boolean }?,
    attribute log_notes { xsd:boolean }?,
    attribute log_output { xsd:boolean }?,
    attribute log_raw { xsd:boolean }?,
    attribute log_script_errors { xsd:boolean }?,
    attribute lower_case_tab_completion { xsd:boolean }?,
    attribute map_failure_regexp { xsd:boolean }?,
    attribute max_output_lines { xsd:unsignedInt }?,
    attribute mud_can_change_link_colour { xsd:boolean }?,
    attribute mud_can_remove_underline { xsd:boolean }?,
    attribute mud_can_change_options { xsd:boolean }?,
    attribute mxp_debug_level { xsd:unsignedByte }?,
    attribute naws { xsd:boolean }?,
    attribute note_text_colour { xsd:token }?,
    attribute no_echo_off { xsd:boolean }?,
    attribute omit_date_from_save_files { xsd:boolean }?,
    attribute output_font_height { xsd:unsignedByte }?,
    attribute output_font_weight { xsd:unsignedLong }?,
    attribute output_font_charset { xsd:unsignedShort }?,
    attribute paste_commented_softcode { xsd:boolean }?,
    attribute paste_delay { xsd:unsignedLong }?,
    attribute paste_delay_per_lines { xsd:unsignedLong }?,
    attribute paste_echo { xsd:boolean }?,
    attribute play_sounds_in_background { xsd:boolean }?,
    attribute pixel_offset { xsd:unsignedLong }?,
    attribute port { xsd:unsignedShort },
    attribute proxy_port { xsd:unsignedShort }?,
    attribute proxy_type { xsd:unsignedByte }?,
    attribute re_evaluate_auto_say { xsd:boolean }?,
    attribute save_deleted_command { xsd:boolean }?,
    attribute save_world_automatically { xsd:boolean }?,
    attribute script_reload_option { xsd:unsignedByte }?,
    attribute script_errors_to_output_window { xsd:boolean }?,
    attribute send_echo { xsd:boolean }?,
    attribute send_double_ff_for_hex_ff { xsd:boolean }?,
    attribute send_file_commented_softcode { xsd:boolean }?,
    attribute send_file_delay { xsd:unsignedLong }?,
    attribute send_file_delay_per_lines { xsd:unsignedLong }?,
    attribute send_keep_alives { xsd:boolean }?,
    attribute send_mxp_afk_response { xsd:boolean }?,
    attribute show_bold { xsd:boolean }?,
    attribute show_connect_disconnect { xsd:boolean }?,
    attribute show_grid_lines_in_list_views { xsd:boolean }?,
    attribute show_italic { xsd:boolean }?,
    attribute show_underline { xsd:boolean }?,
    attribute spam_line_count { xsd:unsignedLong }?,
    attribute speed_walk_delay { xsd:unsignedLong }?,
    attribute spell_check_on_send { xsd:boolean }?,
    attribute start_paused { xsd:boolean }?,
    attribute tab_completion_lines { xsd:unsignedLong }?,
    attribute tab_completion_space { xsd:boolean }?,
    attribute timestamp_input_text_colour { xsd:token }?,
    attribute timestamp_notes_text_colour { xsd:token }?,
    attribute timestamp_output_text_colour { xsd:token }?,
    attribute timestamp_input_back_colour { xsd:token }?,
    attribute timestamp_notes_back_colour { xsd:token }?,
    attribute timestamp_output_back_colour { xsd:token }?,
    attribute tool_tip_visible_time { xsd:unsignedLong }?,
    attribute tool_tip_start_time { xsd:unsignedLong }?,
    attribute translate_backslash_sequences { xsd:boolean }?,
    attribute translate_german { xsd:boolean }?,
    attribute treeview_triggers { xsd:boolean }?,
    attribute treeview_aliases { xsd:boolean }?,
    attribute treeview_timers { xsd:boolean }?,
    attribute underline_hyperlinks { xsd:boolean }?,
    attribute unpause_on_send { xsd:boolean }?,
    attribute use_custom_link_colour { xsd:boolean }?,
    attribute use_default_aliases { xsd:boolean }?,
    attribute use_default_colours { xsd:boolean }?,
    attribute use_default_input_font { xsd:boolean }?,
    attribute use_default_macros { xsd:boolean }?,
    attribute use_default_output_font { xsd:boolean }?,
    attribute use_default_timers { xsd:boolean }?,
    attribute use_default_triggers { xsd:boolean }?,
    attribute use_mxp { xsd:boolean }?,
    attribute utf_8 { xsd:boolean }?,
    attribute validate_incoming_chat_calls { xsd:boolean }?,
    attribute warn_if_scripting_inactive { xsd:boolean }?,
    attribute wrap { xsd:boolean }?,
    attribute wrap_input { xsd:boolean }?,
    attribute wrap_column { xsd:unsignedLong }?,
    attribute write_world_name_to_log { xsd:boolean }?,
    attribute auto_log_file_name { xsd:normalizedString }?,
    attribute auto_say_override_prefix { xsd:token }?,
    attribute auto_say_string { xsd:normalizedString }?,
    attribute beep_sound { xsd:normalizedString }?,
    attribute chat_file_save_directory { xsd:normalizedString }?,
    attribute chat_name { xsd:normalizedString }?,
    attribute chat_message_prefix { xsd:normalizedString }?,
    attribute command_stack_character { xsd:token }?,
    attribute editor_window_name { xsd:normalizedString }?,
    attribute id { xsd:normalizedString },
    attribute input_font_name { xsd:normalizedString }?,
    attribute log_line_postamble_input { xsd:normalizedString }?,
    attribute log_line_postamble_notes { xsd:normalizedString }?,
    attribute log_line_postamble_output { xsd:normalizedString }?,
    attribute log_line_preamble_input { xsd:normalizedString }?,
    attribute log_line_preamble_notes { xsd:normalizedString }?,
    attribute log_line_preamble_output { xsd:normalizedString }?,
    attribute mapping_failure { xsd:normalizedString }?,
    attribute name { xsd:normalizedString },
    attribute new_activity_sound { xsd:normalizedString }?,
    attribute on_mxp_close_tag { xsd:token }?,
    attribute on_mxp_error { xsd:token }?,
    attribute on_mxp_open_tag { xsd:token }?,
    attribute on_mxp_set_variable { xsd:token }?,
    attribute on_mxp_start { xsd:token }?,
    attribute on_mxp_stop { xsd:token }?,
    attribute on_world_close { xsd:token }?,
    attribute on_world_save { xsd:token }?,
    attribute on_world_connect { xsd:token }?,
    attribute on_world_disconnect { xsd:token }?,
    attribute on_world_get_focus { xsd:token }?,
    attribute on_world_lose_focus { xsd:token }?,
    attribute on_world_open { xsd:token }?,
    attribute output_font_name { xsd:normalizedString }?,
    attribute password { xsd:base64Binary }?,
    attribute paste_line_postamble { xsd:normalizedString }?,
    attribute paste_line_preamble { xsd:normalizedString }?,
    attribute player { xsd:normalizedString }?,
    attribute proxy_server { xsd:normalizedString }?,
    attribute proxy_username { xsd:normalizedString }?,
    attribute proxy_password { xsd:base64Binary }?,
    attribute recall_line_preamble { xsd:normalizedString }?,
    attribute script_editor { xsd:normalizedString }?,
    attribute script_editor_argument { xsd:normalizedString }?,
    attribute script_filename { xsd:normalizedString }?,
    attribute script_language { xsd:normalizedString }?,
    attribute script_prefix { xsd:normalizedString }?,
    attribute send_to_world_line_postamble { xsd:normalizedString }?,
    attribute send_to_world_line_preamble { xsd:normalizedString }?,
    attribute site { xsd:normalizedString },
    attribute spam_message { xsd:normalizedString }?,
    attribute speed_walk_filler { xsd:normalizedString }?,
    attribute speed_walk_prefix { xsd:normalizedString }?,
    attribute terminal_identification { xsd:normalizedString }?,
    attribute timestamp_input { xsd:normalizedString }?,
    attribute timestamp_notes { xsd:normalizedString }?,
    attribute timestamp_output { xsd:normalizedString }?,
    connect_text?,
    filter_aliases?,
    filter_timers?,
    filter_triggers?,
    filter_variables?,
    log_file_postamble?,
    log_file_preamble?,
    paste_postamble?,
    paste_preamble?,
    send_to_world_file_postamble?,
    send_to_world_file_preamble?,
    tab_completion_defaults?,
    notes?
}

connect_text = element connect_text { xsd:string }

filter_aliases = element filter_aliases { xsd:string }

filter_timers = element filter_timers { xsd:string }

filter_triggers = element filter_triggers { xsd:string }

filter_variables = element filter_variables { xsd:string }

log_file_postamble = element log_file_postamble { xsd:string }

log_file_preamble = element log_file_preamble { xsd:string }

paste_postamble = element paste_postamble { xsd:string }

paste_preamble = element paste_preamble { xsd:string }

send_to_world_file_postamble = element send_to_world_file_postamble { xsd:string }

send_to_world_file_preamble = element send_to_world_file_preamble { xsd:string }

tab_completion_defaults = element tab_completion_defaults { xsd:string }

notes = element notes { xsd:string }

triggers = element triggers {
    attribute world_file_version { xsd:long }?,
    attribute muclient_version { xsd:token }?,
    attribute date_saved { xsd:normalizedString }?,
    trigger*,
    empty
}

trigger = element trigger {
    attribute defaults { xsd:boolean }?,
    attribute clipboard_arg { xsd:normalizedString }?,
    attribute custom_colour { xsd:unsignedShort }?,
    attribute enabled { xsd:boolean }?,
    attribute expand_variables { xsd:boolean }?,
    attribute group { xsd:normalizedString }?,
    attribute variable { xsd:token }?,
    attribute pane { xsd:token }?,
    attribute ignore_case { xsd:boolean }?,
    attribute keep_evaluating { xsd:boolean }?,
    attribute lines_to_match { xsd:unsignedShort }?,
    attribute colour_change_type { xsd:unsignedShort }?,
    attribute match { xsd:string }?,
    attribute multi_line { xsd:boolean }?,
    attribute name { xsd:normalizedString }?,
    attribute omit_from_log { xsd:boolean }?,
    attribute omit_from_output { xsd:boolean }?,
    attribute regexp { xsd:boolean }?,
    attribute repeat { xsd:boolean }?,
    attribute script { xsd:string }?,
    attribute send_to { xsd:unsignedShort }?,
    attribute sequence { xsd:unsignedShort }?,
    attribute sound { xsd:normalizedString }?,
    attribute sound_if_inactive { xsd:boolean }?,
    attribute lowercase_wildcard { xsd:boolean }?,
    attribute temporary { xsd:boolean }?,
    attribute user { xsd:long }?,
    attribute one_shot { xsd:boolean }?,
    attribute make_bold { xsd:unsignedShort }?,
    attribute make_italic { xsd:unsignedShort }?,
    attribute make_underline { xsd:unsignedShort }?,
    attribute text_colour { xsd:unsignedShort }?,
    attribute back_colour { xsd:unsignedShort }?,
    attribute bold { xsd:boolean }?,
    attribute match_back_colour { xsd:boolean }?,
    attribute match_bold { xsd:boolean }?,
    attribute match_inverse { xsd:boolean }?,
    attribute match_italic { xsd:boolean }?,
    attribute match_text_colour { xsd:boolean }?,
    attribute match_underline { xsd:boolean }?,
    attribute inverse { xsd:boolean }?,
    attribute italic { xsd:boolean }?,
    attribute other_text_colour { xsd:normalizedString }?,
    attribute other_back_colour { xsd:normalizedString }?,
    send?
}

aliases = element aliases {
    attribute world_file_version { xsd:long }?,
    attribute muclient_version { xsd:token }?,
    attribute date_saved { xsd:normalizedString }?,
    alias*,
    empty
}

alias = element alias {
    attribute defaults { xsd:boolean }?,
    attribute name { xsd:normalizedString }?,
    attribute script { xsd:string }?,
    attribute match { xsd:string },
    attribute enabled { xsd:boolean }?,
    attribute expand_variables { xsd:boolean }?,
    attribute group { xsd:normalizedString }?,
    attribute variable { xsd:token }?,
    attribute omit_from_log { xsd:boolean }?,
    attribute regexp { xsd:boolean }?,
    attribute send_to { xsd:unsignedShort }?,
    attribute omit_from_command_history { xsd:boolean }?,
    attribute omit_from_output { xsd:boolean }?,
    attribute menu { xsd:boolean }?,
    attribute ignore_case { xsd:boolean }?,
    attribute keep_evaluating { xsd:boolean }?,
    attribute sequence { xsd:unsignedShort }?,
    attribute echo_alias { xsd:boolean }?,
    attribute user { xsd:long }?,
    attribute temporary { xsd:boolean }?,
    attribute one_shot { xsd:boolean }?,
    attribute speed_walk { xsd:boolean }?,
    attribute set_variable { xsd:boolean }?,
    attribute queue { xsd:boolean }?,
    send?
}

timers = element timers {
    attribute world_file_version { xsd:long }?,
    attribute muclient_version { xsd:token }?,
    attribute date_saved { xsd:normalizedString }?,
    timer*,
    empty
}

timer = element timer {
    attribute defaults { xsd:boolean }?,
    attribute name { xsd:normalizedString }?,
    attribute script { xsd:string }?,
    attribute enabled { xsd:boolean }?,
    attribute at_time { xsd:boolean }?,
    attribute group { xsd:normalizedString }?,
    attribute variable { xsd:token }?,
    attribute one_shot { xsd:boolean }?,
    attribute active_closed { xsd:boolean }?,
    attribute send_to { xsd:unsignedShort }?,
    attribute omit_from_output { xsd:boolean }?,
    attribute omit_from_log { xsd:boolean }?,
    attribute hour { xsd:unsignedByte }?,
    attribute minute { xsd:unsignedByte }?,
    attribute second { xsd:double }?,
    attribute offset_hour { xsd:unsignedByte }?,
    attribute offset_minute { xsd:unsignedByte }?,
    attribute offset_second { xsd:double }?,
    attribute user { xsd:long }?,
    attribute temporary { xsd:boolean }?,
    attribute speed_walk { xsd:boolean }?,
    attribute note { xsd:boolean }?,
    send?
}

macros = element macros {
    attribute world_file_version { xsd:long }?,
    attribute muclient_version { xsd:token }?,
    attribute date_saved { xsd:normalizedString }?,
    macro*,
    empty
}

macro = element macro {
    attribute defaults { xsd:boolean }?,
    attribute name { xsd:normalizedString }?,
    attribute type { xsd:normalizedString }?,
    send?
}

variables = element variables {
    attribute world_file_version { xsd:long }?,
    attribute muclient_version { xsd:token }?,
    attribute date_saved { xsd:normalizedString }?,
    variable*,
    empty
}

variable = element variable {
    attribute defaults { xsd:boolean }?,
    attribute name { xsd:token }?,
    attribute trim { xsd:boolean }?,
    xsd:string
}

colours = element colours {
    attribute world_file_version { xsd:long }?,
    attribute muclient_version { xsd:token }?,
    attribute date_saved { xsd:normalizedString }?,
    colours_ansi?,
    colours_custom?,
    empty
}

colours_ansi = element ansi {
    colours_ansi_normal?,
    colours_ansi_bold?,
    empty
}

colours_ansi_normal = element normal {
    element colour {
        attribute defaults { xsd:boolean }?,
        attribute seq { xsd:unsignedInt },
        attribute rgb { xsd:normalizedString }
    }*
}

colours_ansi_bold = element bold {
    element colour {
        attribute defaults { xsd:boolean }?,
        attribute seq { xsd:unsignedInt },
        attribute rgb { xsd:normalizedString }
    }*
}

colours_custom = element custom {
    element colour {
        attribute defaults { xsd:boolean }?,
        attribute seq { xsd:unsignedInt },
        attribute name { xsd:normalizedString },
        attribute text { xsd:normalizedString },
        attribute back { xsd:normalizedString }
    }*
}

keypad = element keypad {
    attribute world_file_version { xsd:long }?,
    attribute muclient_version { xsd:token }?,
    attribute date_saved { xsd:normalizedString }?,
    key*,
    empty
}

key = element key {
    attribute defaults { xsd:boolean }?,
    attribute name { xsd:normalizedString },
    send?
}

printing = element printing {
        attribute world_file_version { xsd:long }?,
    attribute muclient_version { xsd:token }?,
    attribute date_saved { xsd:normalizedString }?,
    printing_ansi*,
    empty
}

printing_ansi = element ansi {
    element normal {
        element style {
            attribute defaults { xsd:boolean }?,
            attribute seq { xsd:long }?,
            attribute bold { xsd:boolean }?,
            attribute italic { xsd:boolean }?,
            attribute underline { xsd:boolean }?
        }*
    }?,
    element bold {
        element style {
            attribute defaults { xsd:boolean }?,
            attribute seq { xsd:long }?,
            attribute bold { xsd:boolean }?,
            attribute italic { xsd:boolean }?,
            attribute underline { xsd:boolean }?
        }*
    }?
}

send = element send { xsd:string }

plugin = element plugin {
    attribute name { xsd:normalizedString }?,
    attribute author { xsd:normalizedString }?,
    attribute language { xsd:normalizedString }?,
    attribute id { xsd:normalizedString }?,
    attribute purpose { xsd:string }?,
    attribute date_written { xsd:dateTime }?,
    attribute date_modified { xsd:dateTime }?,
    attribute sequence { xsd:unsignedInt }?,
    attribute save_state { xsd:boolean }?,
    attribute requires { xsd:double }?,
    attribute version { xsd:double }?,
    empty
}

include_ = element include {
    attribute name { xsd:normalizedString },
    attribute plugin { xsd:boolean }?
}
